/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5dc; /* Bege */
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    color: #333; /* Cor do texto principal */
}

form {
    width: 80%;
    max-width: 400px; /* Limitando a largura do formulário */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* Fundo branco */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333; /* Cor do texto */
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049; /* Verde escuro quando hover */
}

/* Estilos específicos para dispositivos móveis */
@media only screen and (max-width: 600px) {
    form {
        width: 90%;
    }
}
