<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Prato</title>
</head>
<body>
<h1>Editar Prato</h1>
<form action="#" th:action="@{/administrador/editar/{id}(id=${prato.id})}" th:object="${prato}" method="post">
    <div>
        <label>Nome:</label>
        <input type="text" th:field="*{nome}" />
    </div>
    <div>
        <label>Descrição:</label>
        <input type="text" th:field="*{descricao}" />
    </div>
    <div>
        <label>Preço:</label>
        <input type="text" th:field="*{preco}" />
    </div>
    <div>
        <button type="submit">Salvar</button>
    </div>
</form>
</body>
</html>
