<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Histórico de Pedidos</title>
</head>
<body>
<h1>Histórico de Pedidos</h1>
<table>
    <tr>
        <th>Cliente</th>
        <th>Total</th>
        <th>Data</th>
        <th>Itens</th>
    </tr>
    <tr th:each="pedido : ${pedidos}">
        <td th:text="${pedido.cliente.nome}"></td>
        <td th:text="${pedido.totalPrecoPedido}"></td>
        <td th:text="${pedido.data}"></td>
        <td>
            <ul>
                <li th:each="prato : ${pedido.pratos}" th:text="${prato.nome}"></li>
            </ul>
        </td>
    </tr>
</table>
</body>
</html>
